<template>
    <div class="container">

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="form-label mt-3">Dataset size</label>
                    <input class="form-control" type="number" min="10000" max="500000" step="1000" v-model="dataset_size">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="form-label mt-3">Generator type</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="generator" v-model="generator"
                            value="latin-cube">
                        <label class="form-check-label">Latin hypercube</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="generator" v-model="generator" value="random">
                        <label class="form-check-label">Random</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="generator" v-model="generator" value="sobol">
                        <label class="form-label">Sobol</label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="form-label mt-3">Seed of the generator</label>
                    <input class="form-control" type="number" placeholder="123456" v-model="seed">
                    <small class="form-text text-muted">This field may be let empty</small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label class="form-label mt-3">Variances</label>
                    <textarea class="form-control" rows="3" style="height: 97px;"
                        placeholder="An array of variances or a single value" v-model="variances"></textarea>
                    <small class="form-text text-muted">An array of variances or a single value</small>
                    <small class="form-text text-muted">Values are in percentage </small>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    name: "BasicGaussianConfiguration",
    data() {
        return {
            dataset_size: 10000,
            generator: 'sobol',
            seed: '',
            variances: 0.01
        }
    },
    mounted() {
        this.$root.$on('getConfig', this.sendConfigToParent)
    },
    beforeDestroy() {
        this.$root.$off('getConfig', this.sendConfigToParent)
    },
    methods: {
        sendConfigToParent() {
            if (!isNaN(parseFloat(this.variances))) {
                let modelStatConfig = {
                    model: 'basic',
                    config: {
                        generator: this.generator,
                        variances: parseFloat(this.variances),
                        dataset_size: parseInt(this.dataset_size),
                        seed: this.seed === '' ? '' : parseInt(this.seed)
                    }
                };
                this.$root.$emit('dataGenConfig', modelStatConfig);
            } else if (this.variances.split(/[\[, \n\r\]]/).filter(function (el) {
                return el.length !== 0
            }).length === Vue.prototype.dimension_D) {
                let modelStatConfig = {
                    model: 'basic',
                    config: {
                        generator: this.generator,
                        variances: this.variances.split(/[\[, \n\r\]]/).filter(function (el) { return el.length !== 0 }),
                        dataset_size: parseInt(this.dataset_size),
                        seed: this.seed === '' ? '' : parseInt(this.seed)
                    }
                };
                this.$root.$emit('dataGenConfig', modelStatConfig);
            } else {
                alert("Error: Data Generation > 'variances' is malformed. \nIt can be either a single float, or, a list of floats with same length as geometries.")
            }
        },
        setConfig(config) {
            if (config['model'] === 'basic') {
                this.dataset_size = config['config']['dataset_size'] !== undefined ? config['config']['dataset_size'] : this.dataset_size
                this.generator = config['config']['generator'] !== undefined ? config['config']['generator'] : this.generator
                this.variances = config['config']['variances'] !== undefined ? config['config']['variances'] : this.variances
                this.seed = config['config']['seed'] === null || config['config']['seed'] === undefined ? '' : config['config']['seed']
            }
        }
    }
}
</script>

<style scoped></style>