<template>
    <div class="container-fluid">

        <div class="container">
            <div class="row">
                <div class="col-sm-auto">
                    <button class="btn btn-primary" type="button" v-on:click=saveConfiguration()>Save Configuration</button>
                </div>
                <div class="col-sm-auto">
                    <button class="btn btn-secondary" type="button" v-on:click=downloadConfigurationFile()>Download
                        configuration</button>
                </div>
                <div class="col-sm-auto">
                    <label class="btn btn-secondary">
                        <input class="file-input" type="file" ref="file" @change='uploadConfigurationFile()' hidden>
                        Upload configuration
                    </label>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import * as objectHash from "object-hash";
import StopSimulationDialog from "./StopSimulationDialog.vue";

export default {
    name: "SimulationActions",
    components: { StopSimulationDialog },
    data() {
        return {
            status: [
                { step: 'Generation of the training dataset', passed: false, executing: false, stopped: false },
                { step: 'Initialisation of the GLLiM model', passed: false, executing: false, stopped: false },
                { step: 'Training of the GLLiM model', passed: false, executing: false, stopped: false },
                { step: 'Prediction', passed: false, executing: false, stopped: false },
                { step: 'Importance sampling', passed: false, executing: false, stopped: false },
                { step: 'Results saving', passed: false, executing: false, stopped: false }
            ],
            current_step: 0,
            current_task_id: '',
            current_dataset: { url: '', filename: '' },
            current_results: { url: '', filename: '' },
            current_log: { url: '', filename: '' },
            simulation_name: '',
            simulation_description: '',
            config_count: 0,
            config: {
                physical_model: null,
                data_generation: null,
                gllim: null,
                prediction: null,
                importance_sampling: null,
                data_global_relative_uncertainty: null,
            },
            geometries_hash: null,
            geometries_content: null,
            entry_data_config: null,
            simulation_geometries: null,
            config_file: null,
            simulation_id: ''
        }
    },
    methods: {
        saveConfiguration() {
            let self = this
            this.config_count = 0;
            document.getElementById("log-text").innerHTML = "";
            for (let i = 0; i < this.status.length; i++) {
                self.status[i].passed = false;
                self.status[i].stopped = false;
            }
            this.$root.$emit('getConfig');
        },
        downloadConfigurationFile() {
            if (this.config.physical_model !== null) {
                let configuration = JSON.stringify(this.config, null, 4);
                let id = objectHash.sha1(configuration);
                const url = window.URL.createObjectURL(new Blob([configuration]));
                const link = document.createElement('a');
                link.href = url;
                link.setAttribute('download', id + '.json');
                document.body.appendChild(link);
                link.click()
            } else {
                alert('No configuration is saved')
            }
        },
        uploadConfigurationFile() {
            this.config_file = this.$refs.file.files[0];
            let fr = new FileReader();
            fr.onload = receivedText;
            fr.readAsText(this.config_file);
            let vm = this

            function receivedText(e) {
                let config_content = JSON.parse(e.target.result);
                let physical_model = config_content['physical_model'];
                let data_generation = config_content['data_generation'];
                let gllim = config_content['gllim'];
                let prediction = config_content['prediction'];
                let importance_sampling = config_content['importance_sampling'];

                vm.$root.$emit('upload_physical_model', physical_model);
                vm.$root.$emit('upload_data_generationl', data_generation);
                vm.$root.$emit('upload_gllim', gllim);
                vm.$root.$emit('upload_prediction', prediction);
                vm.$root.$emit('upload_importance_sampling', importance_sampling);
            }
        },
    }
}
</script>

<style scoped></style>