<template>
    <div class="container">

        <div class="row">
            <div class="form-group">
                <label class="form-label mt-3">Python script file</label>
                <input class="form-control" type="file" ref="file" @change='handleScriptFileUpload()'>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-auto">
                <a class="btn btn-secondary" role="button" href="/static/assets/ShkuratovModel5pPython.py">Download example
                    (Shkuratov Model)</a>
                <small id="emailHelp" class="form-text text-muted">This file is an example of a python code describing the
                    Shkuratov model.</small>
            </div>
            <div class="col-sm-auto">
                <a class="btn btn-secondary" role="button" href="/static/assets/TemplatePython.py">Download template</a>
                <small id="emailHelp" class="form-text text-muted">Download the python template in order to edit your own
                    physical model.</small>
            </div>
        </div>

    </div>
</template>

<script>
import * as objectHash from "object-hash";

export default {
    name: "CustomModelConfiguration",
    data() {
        return {
            class_name: '',
            script_file: '',
            geometries_file: '',
            geometries_hash: '',
            geometries_content: '',
            file_path: '',
            file_name: '',
            hash: null
        }
    },
    mounted() {
        this.$root.$on('getConfig', this.sendConfigToParent);
        this.$root.$on('uploadFiles', this.uploadFileToServer);
    },
    beforeDestroy() {
        this.$root.$off('getConfig', this.sendConfigToParent);
        this.$root.$on('uploadFiles', this.uploadFileToServer);
    },
    methods: {
        handleScriptFileUpload() {
            console.log("Reading script file");
            this.script_file = this.$refs.file.files[0];
            // const fileName = document.querySelector('#script-file-reader .file-name');
            // fileName.textContent = this.$refs.file.files[0].name;

            let fr = new FileReader();
            fr.onload = receivedText;
            fr.readAsText(this.script_file);
            let vm = this;

            function receivedText(e) {
                let lines = e.target.result;
                vm.hash = objectHash.sha1(lines);
            }
        },
        sendConfigToParent() {
            let customModelConfig = {
                model: 'extern',
                config: {
                    class_name: 'classTest',
                    file_path: 'pathTest',
                    hash: this.hash
                }
            };
            this.$root.$emit('physicalModelConfig', customModelConfig);
        },
        uploadFileToServer() {
            let formData = new FormData();
            formData.append('external_model_id', this.hash);
            formData.append('external_model_file', this.script_file);

            this.$http.post('/api/customModel/', formData, {
                headers: {
                    'ContentType': 'False',
                    'X-CSRFToken': $cookies.get('csrftoken')
                }
            }).then((response) => {
                console.log(response);
                this.$root.$emit('filesUploaded');
            }).catch((err) => {
                console.log(err)
            })
        }
    }
}
</script>

<style scoped></style>