<template>
    <div class="container">

        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label class="form-label mt-3 font-weight-bold">Data Generation model</label>
                    <select class="form-select" v-model="currentComponent">
                        <option :value="model.id" v-for="(model, index) in models">{{ model.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div :is="currentComponent" :ref="currentComponent"></div>
        </div>

    </div>
</template>

<script>
import BasicGaussianConfiguration from "./BasicGaussianConfiguration.vue";
import DependentGaussianConfiguration from "./DependentGaussianConfiguration.vue";

export default {
    name: "DataGernerationConfiguration",
    data() {
        return {
            currentComponent: 'basic',
            models: [
                { id: 'basic', name: 'Basic gaussian stat model' },
                { id: 'dependent', name: 'Dependent gaussian stat model' }
            ],
        }
    },
    mounted() {
        this.$root.$on('upload_data_generation', this.setConfig)
    },
    beforeDestroy() {
        this.$root.$off('upload_data_generation', this.setConfig)
    },
    components: {
        'basic': BasicGaussianConfiguration,
        'dependent': DependentGaussianConfiguration
    },
    methods: {
        setConfig(config) {
            if (config['model'] === 'basic') {
                this.currentComponent = 'basic';
            } else if (config['model'] === 'dependent') {
                this.currentComponent = 'dependent'
            }
            this.$nextTick(() => {
                this.$refs[this.currentComponent].setConfig(config);
            })
        }
    }
}
</script>

<style scoped></style>