<template>
    <div class="container">

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="form-label mt-3">Dataset size</label>
                    <input class="form-control" type="number" min="10000" max="500000" step="1000" v-model="dataset_size">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="form-label mt-3">Generator type</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="generator" v-model="generator"
                            value="latin-cube">
                        <label class="form-check-label">Latin hypercube</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="generator" v-model="generator" value="random">
                        <label class="form-check-label">Random</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="generator" v-model="generator" value="sobol">
                        <label class="form-label">Sobol</label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="form-label mt-3">Seed of the generator</label>
                    <input class="form-control" type="number" placeholder="123456" v-model="seed">
                    <small class="form-text text-muted">This field may be let empty</small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label class="form-label mt-3">Noise effect</label>
                    <input class="form-control" type="number" min="0" max="100" step="1" v-model="noise_effect">
                    <small class="form-text text-muted">Values are in percentage </small>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    name: "DependentGaussianConfiguration",
    data() {
        return {
            dataset_size: 10000,
            generator: 'sobol',
            seed: '',
            noise_effect: 20.0
        }
    },
    mounted() {
        this.$root.$on('getConfig', this.sendConfigToParent)
    },
    beforeDestroy() {
        this.$root.$off('getConfig', this.sendConfigToParent)
    },
    methods: {
        sendConfigToParent() {
            let modelStatConfig = {
                model: 'dependent',
                config: {
                    generator: this.generator,
                    noise_effect: parseFloat(this.noise_effect),
                    dataset_size: parseInt(this.dataset_size),
                    seed: this.seed === '' ? '' : parseInt(this.seed)
                }
            };
            this.$root.$emit('dataGenConfig', modelStatConfig);
        },
        setConfig(config) {
            if (config['model'] === 'dependent') {
                this.noise_effect = config['config']['noise_effect'] !== undefined ? config['config']['noise_effect'] : this.noise_effect
                this.dataset_size = config['config']['dataset_size'] !== undefined ? config['config']['dataset_size'] : this.dataset_size
                this.generator = config['config']['generator'] !== undefined ? config['config']['generator'] : this.generator
                this.seed = config['config']['seed'] === null || config['config']['seed'] === undefined ? '' : config['config']['seed']
            }
        }
    }
}
</script>

<style scoped></style>