<template>
    <div class="container">

        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label class="form-label mt-3 font-weight-bold">Observations source</label>
                    <select class="form-select" v-model="currentComponent">
                        <option :value="model.id" v-for="(model, index) in models">{{ model.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div :is="currentComponent"></div>
        </div>

    </div>
</template>

<script>
import LaboratoryEntryData from "./LaboratoryEntryData.vue";
import RemoteSensingEntryData from "./RemoteSensingEntryData.vue";

export default {
    name: "EntryData",
    data() {
        return {
            currentComponent: 'remoteSensing',
            models: [
                { id: 'laboratory', name: 'Laboratory' },
                { id: 'remoteSensing', name: 'Remote sensing' }
            ],
        }
    },
    components: {
        'laboratory': LaboratoryEntryData,
        'remoteSensing': RemoteSensingEntryData
    },
}
</script>

<style scoped></style>