<template>
    <footer class="footer mt-auto bg-dark text-white py-3 px-3">
        <div class="row">
            <div class="col">
                <p>Planet-GLLiM</p>
                <p>logo Inria</p>
                <p>logo IPAG</p>
            </div>
            <div class="col text-center">
                <p>Contacts</p>
            </div>
            <div class="col text-right">
                <div class="btn btn-dark" role="button" v-on:click="scrollToTop">
                    <p>Back to top</p>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
export default {
    name: 'Footer',
    methods: {
        scrollToTop() {
            window.scrollTo({top: 0, behavior: 'smooth'});
        }
    }
}

</script>

<style scoped></style>