<template>
    <div class="container">

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="form-label mt-3">Number of affine functions</label>
                    <input class="form-control" type="number" v-model="K">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="form-label mt-3">Type of Gamma matrices</label>
                    <div class="form-check" v-for="(type, index) in matrices_types">
                        <input class="form-check-input" type="radio" name="gamma" v-model="gamma_type" :value="type.id"
                            @change="updateTrainingMethod()">
                        <label class="form-check-label">{{ type.name }}</label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="form-label mt-3">Type of Sigma matrices</label>
                    <div class="form-check" v-for="(type, index) in matrices_types">
                        <input class="form-check-input" type="radio" name="sigma" v-model="sigma_type" :value="type.id"
                            @change="updateTrainingMethod()">
                        <label class="form-check-label">{{ type.name }}</label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="form-label mt-3">Floor</label>
                    <input class="form-control" type="text" v-model="floor">
                </div>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="form-label mt-3 font-weight-bold">Initialisation step</label>
                    <select class="form-select" v-model="selected_init_config">
                        <option :value="configType.id" v-for="(configType, index) in init_config_types">{{ configType.name
                        }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="form-label mt-3">K-means iterations</label>
                    <input class="form-control" type="number" min="0" max="10" step="1" v-model="init_gmm_kmeans_iter">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="form-label mt-3">GMM-EM iterations</label>
                    <input class="form-control" type="number" min="0" max="15" step="1" v-model="init_gmm_em_iter">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="form-label mt-3">Seed of the generator</label>
                    <input class="form-control" type="text" placeholder="123456" v-model="seed">
                    <small class="form-text text-muted">This field may be let empty</small>
                </div>
            </div>
        </div>

        <div class="row" v-if="selected_init_config === 'multi'">
            <div class="col-3 offset-3">
                <div class="form-group">
                    <label class="form-label mt-3">Number of initialisation</label>
                    <input class="form-control" type="number" min="1" max="20" step="1" v-model="nb_exp">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label class="form-label mt-3">GLLiM-EM iterations</label>
                    <input class="form-control" type="number" min="1" max="50" step="1" v-model="init_gllim_em_iter">
                </div>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label class="form-label mt-3 font-weight-bold">Training step</label>
                    <select class="form-select" v-model="train_config" @change="updateConstraints()">
                        <option :value="configType.id" v-for="(configType, index) in train_config_types">{{ configType.name
                        }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-3" v-if="train_config === 'em'">
                <div class="form-group">
                    <label class="form-label mt-3">GLLiM-EM iterations</label>
                    <input class="form-control" type="number" min="1" max="300" step="1" v-model="train_em_iter">
                </div>
            </div>
            <div class="col-3" v-if="train_config === 'em'">
                <div class="form-group">
                    <label class="form-label mt-3">Likelihood increase</label>
                    <input class="form-control" type="text" v-model="train_ratio_ll">
                </div>
            </div>
            <div class="col-3" v-if="train_config === 'gmm'">
                <div class="form-group">
                    <label class="form-label mt-3">K-means iterations</label>
                    <input class="form-control" type="number" min="1" max="20" step="1" v-model="train_gmm_kmeans_iter">
                </div>
            </div>
            <div class="col-3" v-if="train_config === 'gmm'">
                <div class="form-group">
                    <label class="form-label mt-3">GMM-EM iterations</label>
                    <input class="form-control" type="number" min="1" max="200" step="1" v-model="train_gmm_em_iter">
                </div>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    name: "GllimConfiguration",
    data() {
        return {
            K: 50,
            gamma_type: 'Full',
            sigma_type: 'Diag',
            floor: 1e-08,
            matrices_types: [
                { id: 'Full', name: 'Full matrices' },
                { id: 'Diag', name: 'Diagonal matrices' },
                { id: 'Iso', name: 'Isomorphic matrices' }
            ],
            init_config_types: [
                { id: 'fixed', name: 'Fixed initialisation' },
                { id: 'multi', name: 'Multiple initialisations' }
            ],
            train_config_types: [
                { id: 'em', name: 'GLLiM-EM method' },
                { id: 'gmm', name: 'GMM-EM method' }
            ],
            selected_init_config: 'multi',
            train_config: 'em',
            seed: '',
            init_gmm_em_iter: 10,
            init_gmm_kmeans_iter: 5,
            nb_exp: 10,
            init_gllim_em_iter: 5,
            train_em_iter: 100,
            train_ratio_ll: 1e-05,
            train_gmm_em_iter: 100,
            train_gmm_kmeans_iter: 10,
        }
    },
    mounted() {
        this.$root.$on('getConfig', this.sendConfigToParent)
        this.$root.$on('upload_gllim', this.setConfig)
    },
    beforeDestroy() {
        this.$root.$off('getConfig', this.sendConfigToParent)
        this.$root.$off('upload_gllim', this.setConfig)
    },
    methods: {
        updateConstraints() {
            if (this.train_config === 'em') {
                this.gamma_type = 'Full';
                this.sigma_type = 'Diag'
            } else {
                this.gamma_type = 'Full';
                this.sigma_type = 'Full'
            }
        },
        updateTrainingMethod() {
            if (this.gamma_type === 'Full' && this.sigma_type === 'Full') {
                this.train_config = 'gmm'
            } else {
                this.train_config = 'em'
            }
        },
        sendConfigToParent: function () {
            Vue.prototype.K = this.K;
            let init_config_object;
            if (this.selected_init_config === 'fixed') {
                init_config_object = {
                    seed: this.seed === '' ? '' : parseInt(this.seed),
                    gmm_learning_config: {
                        kmeans_iteration: parseInt(this.init_gmm_kmeans_iter),
                        em_iteration: parseInt(this.init_gmm_em_iter),
                        floor: parseFloat(this.floor)
                    }
                }
            } else {
                init_config_object = {
                    seed: this.seed === '' ? '' : parseInt(this.seed),
                    nb_iter_em: parseInt(this.init_gllim_em_iter),
                    nb_exp: parseInt(this.nb_exp),
                    gmm_learning_config: {
                        kmeans_iteration: parseInt(this.init_gmm_kmeans_iter),
                        em_iteration: parseInt(this.init_gmm_em_iter),
                        floor: parseFloat(this.floor)
                    }
                }
            }

            let train_config_object;
            if (this.train_config === 'em') {
                train_config_object = {
                    max_iteration: parseInt(this.train_em_iter),
                    ratio_ll: parseFloat(this.train_ratio_ll),
                    floor: parseFloat(this.floor)
                }
            } else {
                train_config_object = {
                    kmeans_iteration: parseInt(this.train_gmm_kmeans_iter),
                    em_iteration: parseInt(this.train_gmm_em_iter),
                    floor: parseFloat(this.floor)
                }
            }

            let GLLiMConfig = {
                K: parseInt(this.K),
                gamma_type: this.gamma_type,
                sigma_type: this.sigma_type,
                init_config: {
                    type: this.selected_init_config,
                    config: init_config_object,
                },
                train_config: {
                    type: this.train_config,
                    config: train_config_object
                }
            };
            this.$root.$emit('gllimConfig', GLLiMConfig);
        },
        setConfig(config) {
            this.K = config['K'] !== undefined ? config['K'] : this.K
            this.gamma_type = config['gamma_type'] !== undefined ? config['gamma_type'] : this.gamma_type
            this.sigma_type = config['sigma_type'] !== undefined ? config['sigma_type'] : this.sigma_type

            if (config['init_config']['type'] === 'multi') {
                this.init_gllim_em_iter = config['init_config']['config']['nb_iter_em'] !== undefined ?
                    config['init_config']['config']['nb_iter_em'] : this.init_gllim_em_iter

                this.nb_exp = config['init_config']['config']['nb_exp'] !== undefined ?
                    config['init_config']['config']['nb_exp'] : this.nb_exp

                this.init_gmm_kmeans_iter = config['init_config']['config']['gmm_learning_config']['kmeans_iteration'] !== undefined ?
                    config['init_config']['config']['gmm_learning_config']['kmeans_iteration'] : this.init_gmm_kmeans_iter

                this.init_gmm_em_iter = config['init_config']['config']['gmm_learning_config']['em_iteration'] !== undefined ?
                    config['init_config']['config']['gmm_learning_config']['em_iteration'] : this.init_gmm_em_iter

                this.floor = config['init_config']['config']['gmm_learning_config']['floor'] !== undefined ?
                    config['init_config']['config']['gmm_learning_config']['floor'] : this.floor

                this.seed = config['init_config']['config']['seed'] !== undefined ?
                    config['init_config']['config']['seed'] : this.seed

            } else if (config['init_config']['type'] === 'fixed') {
                this.seed = config['init_config']['config']['seed'] !== undefined ?
                    config['init_config']['config']['seed'] : this.seed

                this.init_gmm_kmeans_iter = config['init_config']['config']['gmm_learning_config']['kmeans_iteration'] !== undefined ?
                    config['init_config']['config']['gmm_learning_config']['kmeans_iteration'] : this.init_gmm_kmeans_iter

                this.init_gmm_em_iter = config['init_config']['config']['gmm_learning_config']['em_iteration'] !== undefined ?
                    config['init_config']['config']['gmm_learning_config']['em_iteration'] : this.init_gmm_em_iter

                this.floor = config['init_config']['config']['gmm_learning_config']['floor'] !== undefined ?
                    config['init_config']['config']['gmm_learning_config']['floor'] : this.floor

            }

            if (config['train_config']['type'] === 'em') {
                this.train_em_iter = config['train_config']['config']['max_iteration'] !== undefined ?
                    config['train_config']['config']['max_iteration'] : this.train_em_iter

                this.train_ratio_ll = config['train_config']['config']['ratio_ll'] !== undefined ?
                    config['train_config']['config']['ratio_ll'] : this.train_ratio_ll

                this.floor = config['train_config']['config']['floor'] !== undefined ?
                    config['train_config']['config']['floor'] : this.floor

            } else if (config['train_config']['type'] === 'gmm') {
                this.train_gmm_kmeans_iter = config['train_config']['config']['em_iteration'] !== undefined ?
                    config['train_config']['config']['em_iteration'] : this.train_gmm_kmeans_iter

                this.train_gmm_em_iter = config['train_config']['config']['kmeans_iteration'] !== undefined ?
                    config['train_config']['config']['kmeans_iteration'] : this.train_gmm_em_iter

                this.floor = config['train_config']['config']['floor'] !== undefined ?
                    config['train_config']['config']['floor'] : this.floor

            }
        }
    }
}
</script>

<style scoped></style>