<template>
    <div style="margin-left: 5rem; margin-right: 5rem">

        <div v-show="selector_show" v-if="error_graphs.length > 0">
            <select v-model="selected" @change="changeGraph()">
                <option :value="index" v-for="(graph, index) in error_graphs">{{graph.id }}
                </option>
            </select>
        </div>

        <div v-for="graph in error_graphs" style="margin-top: 1.5rem">
            <canvas v-show="graph.show" :id="'error_'+graph.id" width="400" height="200"></canvas>
        </div>
        <div v-for="graph in error_graphs" style="margin-top: 1.5rem">
            <canvas v-show="graph.show" :id="'spectra_'+graph.id" width="400" height="200"></canvas>
        </div>
    </div>
</template>


<script>

    export default {
        name: "Graphs",
        data() {
            return {
                selected: 0,
                data : [],
                current_graph: 0,
                backgroundColor: [
                    'rgba(255, 0, 30, 0.2)', // red
                    'rgba(255, 100, 30, 0.2)', // orange
                    'rgba(255, 200, 30, 0.2)', // yellow
                    'rgba(100, 30, 100, 0.2)', // dark purple
                    'rgba(150, 30, 150, 0.2)', // purple
                    'rgba(210, 30, 210, 0.2)', // light purple
                    'rgba(30, 30, 255, 0.2)', // blue
                    'rgba(30, 200, 255, 0.2)', // light blue
                    'rgba(30, 255, 255, 0.2)' // sky blue
                    
                ],
                borderColor: [
                    'rgba(255, 0, 30, 1)', // red
                    'rgba(255, 100, 30, 1)', // orange
                    'rgba(255, 200, 30, 1)', // yellow
                    'rgba(100, 30, 100, 1)', // dark purple
                    'rgba(150, 30, 150, 1)', // purple
                    'rgba(210, 30, 210, 1)', // light purple
                    'rgba(30, 30, 255, 1)', // green
                    'rgba(30, 200, 255, 1)', // light green
                    'rgba(30, 255, 255, 1)' // sky blue
                ],
                error_graphs: [],
                spectra_graphs: [],
                charts_objects: [],
                selector_show: false
            }
        },
        mounted() {
            this.$root.$on('display-graphs', this.displayGraphs)
            this.$root.$on('destryGraphs', this.destroyGraphs)
        },
        beforeDestroy() {
            this.$root.$off('display-graphs', this.displayGraphs)
        },
        methods: {
            displayGraphs(data) {
                this.data = data;
                this.error_graphs = [];
                this.spectra_graphs = [];
                this.selected = 0;
                for (let key in data['errorY']) {
                    if (!key.includes('wavelengths')) {
                        this.error_graphs.push({id: key, show: false})
                        this.spectra_graphs.push({id: key, show: false})
                    }
                }
                let that = this;
                setTimeout(function () {
                    that.changeGraph();
                }, 100)
                this.selector_show = true;
                this.error_graphs[0].show = true;
                this.spectra_graphs[0].show = true;
            },
            destroyGraphs() {
                console.log('destroying graphs');
                this.selector_show = false;
                for (var i=0; i < this.charts_objects.length; i++) {
                  this.charts_objects[i].destroy();
                }
            },
            changeGraph() {
                let error_datasets = [];
                let spectra_datasets = [];
                let colorIndex = 0;
                for (let pred_type in this.data['errorY'][this.error_graphs[this.selected].id]) {
                    error_datasets.push({
                        label: pred_type,
                        data: this.data['errorY'][this.error_graphs[this.selected].id][pred_type],
                        backgroundColor: this.backgroundColor[colorIndex],
                        borderColor: this.borderColor[colorIndex]
                    })
                    colorIndex++;
                }
                colorIndex = 0;
                // for (let parameter_nb in this.data['spectra'][this.error_graphs[this.selected].id]['is_mean']) {
                //     spectra_datasets.push({
                //         label: 'Parameter_IS_' + parameter_nb,
                //         data: this.data['spectra'][this.error_graphs[this.selected].id]['is_mean'][parameter_nb],
                //         backgroundColor: this.backgroundColor[colorIndex],
                //         borderColor: this.borderColor[colorIndex]
                //     })
                //     colorIndex++;
                // }
                for (let parameter_nb in this.data['spectra'][this.error_graphs[this.selected].id]['imis_mean']) {
                    spectra_datasets.push({
                        label: 'X_' + parameter_nb + ' (imis_mean)',
                        data: this.data['spectra'][this.error_graphs[this.selected].id]['imis_mean'][parameter_nb],
                        backgroundColor: this.backgroundColor[colorIndex],
                        borderColor: this.borderColor[colorIndex]
                    })
                    colorIndex++;
                }
                for (let parameter_nb in this.data['spectra'][this.error_graphs[this.selected].id]['x_best']) {
                    spectra_datasets.push({
                        label: 'X_' + parameter_nb + ' (best)',
                        data: this.data['spectra'][this.error_graphs[this.selected].id]['x_best'][parameter_nb],
                        backgroundColor: this.backgroundColor[colorIndex],
                        borderColor: this.borderColor[colorIndex]
                    })
                    colorIndex++;
                }


                var str = 'error_'+this.error_graphs[this.selected].id;
                var str2 = 'spectra_'+this.error_graphs[this.selected].id;
                str = str.replace(/^\s+|\s+$/g,"");
                str2 = str2.replace(/^\s+|\s+$/g,"");
                let errorChartContainer = document.getElementById(str).getContext('2d');
                let spectraChartContainer = document.getElementById(str2).getContext('2d');
                let myErrorChart = new Chart(errorChartContainer, {
                    type: 'line',
                    data: {
                        datasets: error_datasets,
                        labels: this.data['wavelengths']
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                },
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Relative reconstruction error',
                                    fontSize: 20
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    beginAtZero: false
                                },
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Wavelength',
                                    fontSize: 20
                                }
                            }]
                        }
                    }
                })

                let mySpectraChart = new Chart(spectraChartContainer, {
                    type: 'line',
                    data: {
                        datasets: spectra_datasets,
                        labels: this.data['wavelengths']
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                },
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Parameter value',
                                    fontSize: 20
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    beginAtZero: false
                                },
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Wavelength',
                                    fontSize: 20
                                }
                            }]
                        }
                    }
                })
                this.charts_objects.push(myErrorChart);
                this.charts_objects.push(mySpectraChart);
                this.error_graphs[this.current_graph].show = false;
                this.spectra_graphs[this.current_graph].show = false;
                this.current_graph = this.selected;
                this.selector_show = true;
                this.error_graphs[this.selected].show = true;
                this.spectra_graphs[this.selected].show = true;
            }
        }
    }
</script>

<style scoped>

</style>