<template>
    <div class="container">

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="form-label mt-3">Model version</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="model-version" v-model="version" value="2002">
                        <label class="form-check-label">2002</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="model-version" v-model="version" value="1993">
                        <label class="form-check-label">1993</label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="form-label mt-3">Model variant</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="model-variant" v-model="variant" value="six">
                        <label class="form-check-label">Full (6 parameters)</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="model-variant" v-model="variant" value="four">
                        <label class="form-check-label">Reduced (4 parameters)</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="model-variant" v-model="variant" value="three">
                        <label class="form-label">Hokey stick (3 parameters)</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="form-label mt-3">Maximal value of <vue-mathjax formula="$\bar{\theta}$"></vue-mathjax></label>
                    <input class="form-control" type="number" min="0" max="90" step="0.1" v-model="theta_bar_scaling">
                </div>
            </div>
            <div class="col">
                <div class="form-group" v-if="variant !== 'six'">
                    <label class="form-label mt-3"><vue-mathjax formula="$B_0$"></vue-mathjax> : Magnitude of the opposition effect</label>
                    <input class="form-control" type="number" min="0" max="1" step="0.01" v-model="b0">
                </div>
            </div>
            <div class="col">
                <div class="form-group" v-if="variant !== 'six'">
                    <label class="form-label mt-3"><vue-mathjax formula="$H$"></vue-mathjax> : Angular width of the opposition effect</label>
                    <input class="form-control" type="number" min="0" max="1" step="0.01" v-model="h">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label class="form-label mt-3">Geometries file</label>
                <input class="form-control" type="file" ref="file" @change='handleFileUpload()'>
            </div>
        </div>
        
    </div>
</template>

<script>
import * as objectHash from "object-hash";

export default {
    name: "HapkeConfiguration",
    data() {
        return {
            variant: 'four',
            version: '2002',
            b0: 0.0,
            h: 0.1,
            theta_bar_scaling: 30.0,
            geometries_file: '',
            geometries_hash: '',
            geometries_content: '',
        }
    },
    mounted() {
        this.$root.$on('getConfig', this.sendConfigToParent)
    },
    beforeDestroy() {
        this.$root.$off('getConfig', this.sendConfigToParent)
    },
    methods: {
        handleFileUpload() {
            this.geometries_file = this.$refs.file.files[0];
            // const fileName = document.querySelector('#geometries-file-reader'); // .file-name');
            // fileName.textContent = this.$refs.file.files[0].name;
            let fr = new FileReader();
            fr.onload = receivedText;
            fr.readAsText(this.geometries_file);
            let vm = this;

            function receivedText(e) {
                vm.geometries_content = e.target.result;
                vm.geometries_hash = objectHash.sha1(vm.geometries_content);

                Vue.prototype.dimension_D = JSON.parse(vm.geometries_content)['vza'].length
            }
        },
        sendConfigToParent() {
            let adapterConfig = null;
            if (this.variant !== 'six') {
                adapterConfig = {
                    b0: parseFloat(this.b0),
                    h: parseFloat(this.h)
                }
            }
            let hapkeModelConfig = {
                model: 'hapke',
                config: {
                    version: this.version,
                    geometries: this.geometries_file.name,
                    geometries_hash: this.geometries_hash,
                    theta_bar_scaling: parseFloat(this.theta_bar_scaling),
                    adapter: {
                        type: this.variant,
                        config: adapterConfig
                    }
                }
            };
            if (this.geometries_file !== '') {
                this.$root.$emit('physicalModelConfig',
                    hapkeModelConfig,
                    this.geometries_content
                );
            } else {
                alert('Geometries file not uploaded')
            }

        },
        setConfig(config) {
            if (config['model'] === 'hapke') {
                this.b0 = config['config']['adapter']['b0'] !== undefined ? config['config']['adapter']['b0'] : this.b0
                this.h = config['config']['adapter']['h'] !== undefined ? config['config']['adapter']['h'] : this.h
                this.variant = config['config']['adapter']['type'] !== undefined ? config['config']['adapter']['type'] : this.variant
                this.theta_bar_scaling = config['config']['theta_bar_scaling'] !== undefined ? config['config']['theta_bar_scaling'] : this.theta_bar_scaling
                this.version = config['config']['version'] !== undefined ? config['config']['version'] : this.version
            }
        }
    }
}

</script>

<style scoped></style>