<template>
    <div class="container">

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="form-label mt-3">Number of samples</label>
                    <input class="form-control" type="number" min="1000" step="100" v-model="nb_samples"
                        v-on:change="updateImisParams()">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="form-label mt-3">Proposition law for prediction by the <u>mean</u></label>
                    <select class="form-select" v-model="selected_mean_prop_law">
                        <option :value="type.id" v-for="(type, index) in mean_prop_law_types">{{ type.name }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="form-label mt-3">Proposition law for prediction by the <u>centers</u></label>
                    <select class="form-select" v-model="selected_center_prop_law">
                        <option :value="type.id" v-for="(type, index) in center_prop_law_types">{{ type.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseImis"
                    aria-expanded="false" aria-controls="collapseImis">
                    IMIS parameters - optional
                </button>
            </div>
            <div class="collapse" id="collapseImis">
                <div class="row">
                    <p>
                        The Incremental Mixture Important Sampling algorithm input parameters are described below. <br>
                        - <vue-mathjax formula="$N_0$" /> : Number of samples at initial stage. Default is <vue-mathjax
                            formula="$N_{samples}/10$" />. <br>
                        - <vue-mathjax formula="$B$" /> : Number of new samples at each step. It must be lower than
                        <vue-mathjax formula="$N_0$" /> (<vue-mathjax formula="$B \le N_0$" />). Default is
                        <vue-mathjax formula="$N_{samples}/20$" />. <br>
                        - <vue-mathjax formula="$J$" /> : Number of iteration. Default is 18. <br>
                        At the end of the algorithm, there are <vue-mathjax formula="$N_{samples} = N_0+J*B$" /> samples.
                    </p>
                    <div class="col">
                        <div class="form-group">
                            <label class="form-label mt-3"><vue-mathjax formula="$N_0$" /></label>
                            <input class="form-control" type="number" min="100" step="10" v-model="N_0">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="form-label mt-3"><vue-mathjax formula="$B$" /></label>
                            <input class="form-control" type="number" min="10" step="10" v-model="B">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="form-label mt-3"><vue-mathjax formula="$J$" /></label>
                            <input class="form-control" type="number" min="1" step="1" v-model="J">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    name: "ImportanceSamplingConfiguration",
    data() {
        return {
            nb_samples: 1000,
            N_0: 100,
            B: 50,
            J: 18,
            mean_prop_law_types: [
                { id: 'gaussian', name: 'Gaussian' },
            ],
            center_prop_law_types: [
                { id: 'gaussian', name: 'Gaussian' },
            ],
            selected_mean_prop_law: 'gaussian',
            selected_center_prop_law: 'gaussian'
        }
    },
    mounted() {
        this.$root.$on('upload_importance_sampling', this.setConfig)

        this.$root.$on('getConfig', () => {
            this.sendConfigToParent();
        })
    },
    beforeDestroy() {
        this.$root.$off('upload_importance_sampling', this.setConfig)
    },
    methods: {
        sendConfigToParent() {
            let importanceSamplingConfig = {
                nb_samples: parseInt(this.nb_samples),
                N_0: parseInt(this.N_0),
                B: parseInt(this.B),
                J: parseInt(this.J),
                mean_prop_law: this.selected_mean_prop_law,
                center_prop_law: this.selected_center_prop_law
            };
            this.$root.$emit('importanceSamplingConfig', importanceSamplingConfig);
        }, setConfig(config) {
            this.nb_samples = config['nb_samples'] !== undefined ? config['nb_samples'] : this.nb_samples
            this.N_0 = config['N_0'] !== undefined ? config['N_0'] : this.N_0
            this.B = config['B'] !== undefined ? config['B'] : this.B
            this.J = config['J'] !== undefined ? config['J'] : this.J
            this.selected_mean_prop_law = config['mean_prop_law'] !== undefined ? config['mean_prop_law'] : this.selected_mean_prop_law
            this.selected_center_prop_law = config['center_prop_law'] !== undefined ? config['center_prop_law'] : this.selected_center_prop_law
        },
        updateImisParams() {
            this.B = Math.floor(this.nb_samples / 20);
            this.J = 18;
            this.N_0 = this.nb_samples - this.B * this.J;
        }
    }
}
</script>

<style scoped></style>