<template>
    <div class="container">

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="form-label mt-3">Observations file</label>
                    <input class="form-control" type="file" ref="file" @change="handleFileUpload()">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="form-label mt-3">Global relative uncertainty <small>(if not declared in observations
                            file)</small></label>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input class="form-control" type="number" min="0" max="100" step="1"
                                v-model="global_relative_uncertainty">
                            <span class="input-group-text">%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="form-label mt-3">Samples</label>
                    <div class="row">
                        <div class="container" style="border: 1px solid #dbdbdbdb; padding: 3px">
                            &nbsp;
                            <button class="btn btn-success" type="button" style="margin-left: 10px; margin-right: 10px;"
                                v-for="t in tags" v-bind:class="{ 'btn-succes': t.activated, 'btn-danger': !t.activated }"
                                v-on:click="t.activated = !t.activated">
                                {{ t.tag }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import * as objectHash from "object-hash";

export default {
    name: "LaboratoryEntryData",
    data() {
        return {
            data_file: null,
            tags: [],
            hash: null,
            global_relative_uncertainty: 10,
        }
    },
    mounted() {
        this.$root.$on('getConfig', this.sendConfigToParent);
        this.$root.$on('uploadFiles', this.uploadFileToServer);
    },
    beforeDestroy() {
        this.$root.$off('getConfig', this.sendConfigToParent);
        this.$root.$off('uploadFiles', this.uploadFileToServer);
    },
    methods: {
        handleFileUpload() {
            this.tags = [];
            this.data_file = this.$refs.file.files[0];
            // const fileName = document.querySelector('#data-file-reader .file-name');
            // fileName.textContent = this.$refs.file.files[0].name;
            let fr = new FileReader();
            fr.onload = receivedText;
            fr.readAsText(this.data_file);
            let vm = this;

            function receivedText(e) {
                let lines = e.target.result;
                let newArr = JSON.parse(lines);
                let experience = newArr[Object.keys(newArr)[0]];

                vm.hash = objectHash.sha1(newArr);

                for (let key in experience) {
                    if (experience.hasOwnProperty(key)) {
                        if (key.startsWith('reflectance_')) {
                            vm.tags.push({
                                tag: key.substring(key.lastIndexOf('_') + 1),
                                activated: true
                            })
                        }
                    }
                }
            }
        },
        sendConfigToParent() {
            /*let selected_tags = [];
            for (let t in this.tags) {
                if (t.activated) {
                    selected_tags.push(t.tag)
                }
            }*/
            if (this.data_file !== null) {
                let entry_data_config = {
                    /*selected_samples: selected_tags,*/
                    data_id: this.hash,
                    data_source: 'laboratory',
                    data_global_relative_uncertainty: this.global_relative_uncertainty / 100. // convert to decimals
                };
                this.$root.$emit('entryDataConfig', entry_data_config);
            } else {
                alert('Data files not selected')
            }

        },
        uploadFileToServer() {
            let formData = new FormData();
            formData.append('entry_id', this.hash);
            formData.append('entry_file', this.data_file);

            this.$http.post('/api/laboratoryData/', formData, {
                headers: {
                    'ContentType': 'False',
                    'X-CSRFToken': $cookies.get('csrftoken')
                }
            }).then((response) => {
                console.log(response);
                this.$root.$emit('filesUploaded');
            }).catch((err) => {
                console.log(err)
            })
        }
    }
}
</script>

<style scoped></style>