<template>
    <nav class="navbar navbar-expand-md bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <router-link  class="navbar-brand" to='/home'>
                <h1 class="title">Planet-GLLiM</h1>
            </router-link >
            <ul class="nav navbar-nav abs-center-x">
                <li class="nav-item">
                    <router-link class="nav-link" to='/home'>
                        <h4>Home</h4>
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to='/simulation'>
                        <h4>Simulation</h4>
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to='/massdata'>
                        <h4>Mass Data Analysis</h4>
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to='/documentation'>
                        <h4>Documentation</h4>
                    </router-link>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <div class="dropdown is-hoverable dropdown-menu-right">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                        aria-expanded="false">Settings</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div>
            </ul>
        </div>
    </nav>
</template>

<script>
export default {
    name: 'Navbar'
}
</script>

<style scoped>
.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-link {
    color: white;
}

.navbar-nav>li {
    margin-left: 10px;
    margin-right: 10px;
}</style>