<template>
    <div class="container">

        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label class="form-label mt-3 font-weight-bold">Physical model</label>
                    <select class="form-select" v-model="currentComponent">
                        <option :value="model.id" v-for="(model, index) in models">{{ model.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div :is="currentComponent" :ref="currentComponent"></div>
        </div>

    </div>
</template>

<script>
import HapkeConfiguration from "./HapkeConfiguration.vue";
import ShkuratovConfiguration from "./ShkuratovConfiguration.vue";
import CustomModelConfiguration from "./CustomModelConfiguration.vue";

export default {
    name: "PhysicalModelConfiguration",
    data() {
        return {
            currentComponent: 'hapke',
            models: [
                { id: 'hapke', name: 'Hapke model' },
                { id: 'shkuratov', name: 'Shkuratov model' },
                { id: 'custom', name: 'Custom model' }
            ],
        }
    },
    mounted() {
        this.$root.$on('upload_physical_model', this.setConfig)
    },
    beforeDestroy() {
        this.$root.$off('upload_physical_model', this.setConfig)
    },
    components: {
        'hapke': HapkeConfiguration,
        'shkuratov': ShkuratovConfiguration,
        'custom': CustomModelConfiguration
    },
    methods: {
        setConfig(config) {
            if (config['model'] === 'hapke') {
                this.currentComponent = 'hapke';
            } else if (config['model'] === 'shkuratov') {
                this.currentComponent = 'shkuratov'
            }
            this.$nextTick(() => {
                this.$refs[this.currentComponent].setConfig(config);
            })
        }
    }
}
</script>

<style scoped></style>