<template>
    <div class="container">

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="form-label mt-3">Number of predictions : Prediction by the center</label>
                    <input class="form-control" type="number" min="1" step="1" v-model="k_merged">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="form-label mt-3">Size of the reduced GMM : Prediction by the means</label>
                    <input class="form-control" type="number" min="1" step="1" v-model="k_pred_means">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="form-label mt-3">Minimum weight a GMM component</label>
                    <input class="form-control" v-model="threshold">
                </div>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    name: "PredictionConfiguration",
    data() {
        return {
            k_merged: 2,
            k_pred_means: 2,
            threshold: 1e-10
        }
    },
    mounted() {
        this.$root.$on('upload_prediction', this.setConfig)

        this.$root.$on('getConfig', () => {
            this.sendConfigToParent();
        })
    },
    beforeDestroy() {
        this.$root.$off('upload_prediction', this.setConfig)
    },
    methods: {
        sendConfigToParent() {
            if (this.k_pred_means <= Vue.prototype.K) {
                let importanceSamplingConfig = {
                    k_merged: parseInt(this.k_merged),
                    k_pred_means: parseInt(this.k_pred_means),
                    threshold: parseFloat(this.threshold)
                };
                this.$root.$emit('predictionConfig', importanceSamplingConfig);
            } else {
                alert("The size of the reduced GMM in the prediction by the mean must be less or equal to the number of affine transformations")
            }

        },
        setConfig(config) {
            this.k_pred_means = config['k_pred_means'] !== undefined ? config['k_pred_means'] : this.k_pred_means
            this.k_merged = config['k_merged'] !== undefined ? config['k_merged'] : this.k_merged
            this.threshold = config['threshold'] !== undefined ? config['threshold'] : this.threshold
        }
    }
}
</script>

<style scoped></style>