<template>
    <div class="container">

        <div class="row">
            <div class="form-group">
                <label class="form-label mt-3">Observations file</label>
                <input class="form-control" type="file" ref="file" accept="application/zip" @change='handleFileUpload()'>
            </div>
        </div>

    </div>
</template>

<script>
import * as objectHash from "object-hash";
import JSZip from "jszip";

export default {
    name: "RemoteSensingEntryData",
    data() {
        return {
            files: [],
            filehash: ''
        }
    },
    mounted() {
        this.$root.$on('getConfig', this.getConfig);
        this.$root.$on('uploadFiles', this.uploadFileToServer)
    },
    beforeDestroy() {
        this.$root.$off('getConfig', this.getConfig);
        this.$root.$off('uploadFiles', this.uploadFileToServer)
    },
    methods: {
        handleFileUpload() {
            this.files = [];
            let vm = this;
            let zip = new JSZip();

            this.filehash = [];

            this.filehash.push(this.$refs.file.files[0].name);
            this.filehash.push(this.$refs.file.files[0].lastModified);
            this.filehash.push(this.$refs.file.files[0].size);
            this.filehash = objectHash.sha1(this.filehash);

            zip.loadAsync(this.$refs.file.files[0]).then(function (contents) {
                Object.keys(contents.files).forEach(function (filename) {
                    zip.files[filename].async('blob').then(function (fileData) {
                        vm.files.push(new File([fileData], filename))
                    })
                });
            });
        },
        getConfig() {
            if (this.files.length) {
                let entry_data_config = {
                    data_id: this.filehash,
                    data_source: 'remoteSensing'
                };
                this.$root.$emit('entryDataConfig', entry_data_config);
            } else {
                alert('Data files not selected')
            }
        },
        uploadFileToServer() {
            if (this.files.length === 4) {
                let formData = new FormData();
                formData.append('entry_id', this.filehash);
                formData.append('reflectance_file', this.files[0]);
                formData.append('reflectance_header_file', this.files[1]);
                formData.append('incertitude_file', this.files[2]);
                formData.append('incertitude_header_file', this.files[3]);

                this.$http.post('/api/remoteSensingData/', formData, {
                    headers: {
                        'ContentType': 'False',
                        'X-CSRFToken': $cookies.get('csrftoken')
                    }
                }).then((response) => {
                    console.log(response);
                    this.$root.$emit('filesUploaded');
                }).catch((err) => {
                    console.log(err)
                })

            } else {
                alert(' Four files must be selected')
            }
        }
    }
}
</script>

<style scoped></style>