<template>
    <div class="container">

        <div class="row">
            <div class="col-2">
                <div class="form-group">
                    <label class="form-label mt-3">Model variant</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="model-variant" v-model="variant" value="5p">
                        <label class="form-check-label">5 parameters</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="model-variant" v-model="variant" value="3p">
                        <label class="form-check-label">3 parameters</label>
                    </div>
                </div>
            </div>
            <div class="col-10">
                <div v-for="(s, index) in scaling" v-if="index < 3 || variant === '5p'">
                    <div class="row align-items-center">
                        <div class="col-3">
                            <span><vue-mathjax :formula="s.formula"></vue-mathjax></span>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label mt-3">Minimal value</label>
                                <input class="form-control" type="number" min="0" max="1" step="0.01" v-model="s.min">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label mt-3">Maximal value</label>
                                <input class="form-control" type="number" min="0" max="1" step="0.01" v-model="s.max">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label class="form-label mt-3">Geometries file</label>
                <input class="form-control" type="file" ref="file" @change='handleFileUpload()'>
            </div>
        </div>

    </div>
</template>

<script>
import * as objectHash from "object-hash";

export default {
    name: "ShkuratovConfiguration",
    data() {
        return {
            variant: '5p',
            scaling: [
                { id: 'param0', name: 'An', min: 0.0, max: 1.0, formula: '$$A_n$$' },
                { id: 'param1', name: 'mu1', min: 0.0, max: 1.5, formula: '$$\\mu_1$$' },
                { id: 'param2', name: 'eta', min: 0.2, max: 1.5, formula: '$$\\eta$$' },
                { id: 'param3', name: 'm0', min: 0.0, max: 1.5, formula: '$$m_0$$' },
                { id: 'param4', name: 'mu2', min: 0.0, max: 1.5, formula: '$$\\mu_2$$' }
            ],
            geometries_file: '',
            geometries_hash: '',
            geometries_content: '',
        }
    },
    mounted() {
        this.$root.$on('getConfig', this.sendConfigToParent)
    },
    beforeDestroy() {
        this.$root.$off('getConfig', this.sendConfigToParent)
    },
    methods: {
        handleFileUpload() {
            this.geometries_file = this.$refs.file.files[0];
            // const fileName = document.querySelector('#geometries-file-reader .file-name');
            // fileName.textContent = this.$refs.file.files[0].name;

            let fr = new FileReader();
            fr.onload = receivedText;
            fr.readAsText(this.geometries_file);
            let vm = this;

            function receivedText(e) {
                vm.geometries_content = e.target.result;
                vm.geometries_hash = objectHash.sha1(vm.geometries_content);

                Vue.prototype.dimension_D = JSON.parse(vm.geometries_content)['vza'].length
            }
        },
        sendConfigToParent() {
            let shkuratovModelConfig = {
                model: 'shkuratov',
                config: {
                    variant: this.variant,
                    geometries: this.geometries_file.name,
                    mins: this.scaling.map(element => parseFloat(element.min)),
                    maxs: this.scaling.map(element => parseFloat(element.max)),
                }
            };
            this.$root.$emit('physicalModelConfig', shkuratovModelConfig, this.geometries_content);
        },
        setConfig(config) {
            if (config['model'] === 'shkuratov') {
                this.variant = config['config']['variant'] !== undefined ? config['config']['variant'] : this.variant;
                let mins = config['config']['mins'];
                let maxs = config['config']['maxs'];
                for (let i = 0; i < 5; i++) {
                    this.scaling[i].min = mins[i];
                    this.scaling[i].max = maxs[i];
                }
            }
        }
    }
}
</script>

<style scoped></style>