<template>
    <div class="container">
        <div class="form-group">
            <label class="form-label mt-3">Simulation name</label>
            <input type="input" class="form-control" placeholder="simulation" v-model="simulation_name">
        </div>
        <div class="form-group">
            <label class="form-label mt-3">Description</label>
            <textarea class="form-control" rows="3" style="height: 97px;" v-model="simulation_description"></textarea>
        </div>
    </div>
</template>

<script>
export default {
    name: "SimulationDescription",
    data() {
        return {
            simulation_name: '',
            simulation_description: ''
        }
    },
    mounted() {
        this.$root.$on('getConfig', this.sendConfigToParent)
    },
    beforeDestroy() {
        this.$root.$off('getConfig', this.sendConfigToParent)
    },
    methods: {
        sendConfigToParent() {
            this.$root.$emit('simulationDescription', this.simulation_name, this.simulation_description);
        }
    }
}
</script>

<style scoped></style>