<template>
    <div class="container-fluid">

        <!-- TODO : replace by ConfigurationActions.vue (ba careful with script) -->
        <div class="container">
            <div class="row">
                <div class="col-sm-auto">
                    <button class="btn btn-primary" type="button" v-on:click=saveConfiguration()>Save
                        Configuration</button>
                </div>
                <div class="col-sm-auto">
                    <button class="btn btn-secondary" type="button" v-on:click=downloadConfigurationFile()>Download
                        configuration</button>
                </div>
                <div class="col-sm-auto">
                    <label class="btn btn-secondary">
                        <input class="file-input" type="file" ref="file" @change='uploadConfigurationFile()' hidden>
                        Upload configuration
                    </label>
                </div>
            </div>
        </div>

        <hr />

        <div class="container-fluid">
            <div class="row mx-5 mt-5 mb-3" style="height: 500px; border: 1px solid #dbdbdbdb;">
                <div class="col-4">
                    <label class="form-label mt-3 font-weight-bold">Steps :</label>
                    <div v-for="step in status">
                        <span class="icon is-small" v-if="step.passed">
                            <i class="fas fa-check has-text-success"></i>
                            <!--                                <i class="fas fa-spinner fa-pulse has-text-warning" v-if="step.executing"></i>-->
                        </span>
                        <span class="icon is-small" v-if="step.stopped">
                            <i class="fas fa-ban has-text-danger"></i>
                            <!--                                <i class="fas fa-spinner fa-pulse has-text-warning" v-if="step.executing"></i>-->
                        </span>
                        <span>{{ step.step }}</span>
                    </div>
                </div>
                <div id="log-text-container" class="col bg-black" style="height: 500px; overflow-y: scroll;">
                    <div class="control">
                        <pre id="log-text" class="col text-white text-left is-family-code bg-black">
                        </pre>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-auto">
                    <button class="btn btn-primary" type="button" id="start-btn"
                        v-on:click=startSimulation()>Start</button>
                </div>
                <div class="col-sm-auto">
                    <button class="btn btn-danger" type="button" id="stop-btn" data-toggle="modal"
                        data-target="#stopModal" aria-controls="stopModal">Stop
                    </button>
                </div>
                <div class="col-sm-auto">
                    <button class="btn btn-info" type="button" id="refresh-btn" v-on:click=getLog()>Refresh</button>
                </div>
                <div class="col-sm-auto">
                    <button class="btn btn-secondary" type="button" id="dwn-dataset-btn"
                        v-on:click=downloadDataset()>Download
                        Dataset</button>
                </div>
                <div class="col-sm-auto">
                    <button class="btn btn-secondary" type="button" id="dwn-gllim-btn"
                        v-on:click=downloadGLLiM()>Download GLLiM</button>
                </div>
                <div class="col-sm-auto">
                    <button class="btn btn-secondary" type="button" id="dwn-result-btn"
                        v-on:click=downloadResults()>Download
                        Results</button>
                </div>
                <div class="col-sm-auto">
                    <button class="btn btn-secondary" type="button" id="dwn-log-btn" v-on:click=downloadLog()>Download
                        log</button>
                </div>
            </div>
        </div>

        <!-- Modals -->
        <div class="modal fade" tabindex="-1" id="stopModal" aria-labelledby="stopModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="stopModalLabel">Cancel Simulation</h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Canceling a simulation during its execution may result unpredictable behavior. Do you want to
                            cancel the simulation ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" v-on:click=stopSimulation()>Yes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import * as objectHash from "object-hash";
import StopSimulationDialog from "./StopSimulationDialog.vue";

export default {
    name: "SimulationActions",
    components: { StopSimulationDialog },
    data() {
        return {
            status: [
                { step: 'Generation of the training dataset', passed: false, executing: false, stopped: false },
                { step: 'Initialisation of the GLLiM model', passed: false, executing: false, stopped: false },
                { step: 'Training of the GLLiM model', passed: false, executing: false, stopped: false },
                { step: 'Prediction', passed: false, executing: false, stopped: false },
                { step: 'Importance sampling', passed: false, executing: false, stopped: false },
                { step: 'Results saving', passed: false, executing: false, stopped: false }
            ],
            current_step: 0,
            current_task_id: '',
            current_dataset: { url: '', filename: '' },
            current_gllim: { url: '', filename: '' },
            current_results: { url: '', filename: '' },
            current_log: { url: '', filename: '' },
            simulation_name: '',
            simulation_description: '',
            config_count: 0,
            config: {
                physical_model: null,
                data_generation: null,
                gllim: null,
                prediction: null,
                importance_sampling: null,
                entry_data: null,
            },
            geometries_hash: null,
            geometries_content: null,
            entry_data_config: null,
            simulation_geometries: null,
            config_file: null,
            simulation_id: ''
        }
    },
    beforeMount() {
        this.$http.get('/get-token/')
            .then((response) => {
                //console.log(response.data);
                $cookies.set('csrftoken', response.data.token);
            })
            .catch((err) => {
                console.log(err)
            })
    },
    mounted() {
        document.getElementById("start-btn").disabled = true
        document.getElementById("stop-btn").disabled = true
        document.getElementById("dwn-result-btn").disabled = true
        document.getElementById("dwn-log-btn").disabled = true
        document.getElementById("dwn-dataset-btn").disabled = true
        document.getElementById("dwn-gllim-btn").disabled = true

        this.$root.$on('physicalModelConfig', (physicalModelConfig, geometries_content) => {
            this.config.physical_model = physicalModelConfig;
            this.geometries_content = geometries_content;
            this.config_count += 1;
            if (this.config_count === 7) {
                document.getElementById("start-btn").disabled = false
                document.getElementById("dwn-result-btn").disabled = true
                document.getElementById("dwn-log-btn").disabled = true
                document.getElementById("dwn-dataset-btn").disabled = true
                document.getElementById("dwn-gllim-btn").disabled = true
            }
        });
        this.$root.$on('simulationDescription', (simulation_name, simulation_description) => {
            this.simulation_description = simulation_description;
            this.simulation_name = simulation_name;
            this.config_count += 1;
            if (this.config_count === 7) {
                document.getElementById("start-btn").disabled = false
                document.getElementById("dwn-result-btn").disabled = true
                document.getElementById("dwn-log-btn").disabled = true
                document.getElementById("dwn-dataset-btn").disabled = true
                document.getElementById("dwn-gllim-btn").disabled = true
            }
        });
        this.$root.$on('dataGenConfig', dataGenConfig => {
            this.config.data_generation = dataGenConfig
            this.config_count += 1;
            if (this.config_count === 7) {
                document.getElementById("start-btn").disabled = false
                document.getElementById("dwn-result-btn").disabled = true
                document.getElementById("dwn-log-btn").disabled = true
                document.getElementById("dwn-dataset-btn").disabled = true
                document.getElementById("dwn-gllim-btn").disabled = true
            }
        });
        this.$root.$on('gllimConfig', gllimConfig => {
            this.config.gllim = gllimConfig
            this.config_count += 1;
            if (this.config_count === 7) {
                document.getElementById("start-btn").disabled = false
                document.getElementById("dwn-result-btn").disabled = true
                document.getElementById("dwn-log-btn").disabled = true
                document.getElementById("dwn-dataset-btn").disabled = true
                document.getElementById("dwn-gllim-btn").disabled = true
            }
        });
        this.$root.$on('predictionConfig', predictionConfig => {
            this.config.prediction = predictionConfig
            this.config_count += 1;
            if (this.config_count === 7) {
                document.getElementById("start-btn").disabled = false
                document.getElementById("dwn-result-btn").disabled = true
                document.getElementById("dwn-log-btn").disabled = true
                document.getElementById("dwn-dataset-btn").disabled = true
                document.getElementById("dwn-gllim-btn").disabled = true
            }
        });
        this.$root.$on('importanceSamplingConfig', importanceSamplingConfig => {
            this.config.importance_sampling = importanceSamplingConfig
            this.config_count += 1;
            if (this.config_count === 7) {
                document.getElementById("start-btn").disabled = false
                document.getElementById("dwn-result-btn").disabled = true
                document.getElementById("dwn-log-btn").disabled = true
                document.getElementById("dwn-dataset-btn").disabled = true
                document.getElementById("dwn-gllim-btn").disabled = true
            }
        });
        this.$root.$on('entryDataConfig', entryDataConfig => {
            this.entry_data_config = entryDataConfig
            this.config.entry_data = entryDataConfig
            this.config_count += 1;
            if (this.config_count === 7) {
                document.getElementById("start-btn").disabled = false
                document.getElementById("dwn-result-btn").disabled = true
                document.getElementById("dwn-log-btn").disabled = true
                document.getElementById("dwn-dataset-btn").disabled = true
                document.getElementById("dwn-gllim-btn").disabled = true
            }
        });
        this.$root.$on('filesUploaded', () => {
            if (this.config_count === 7) {
                document.getElementById("start-btn").disabled = true
                document.getElementById("dwn-result-btn").disabled = true
                document.getElementById("dwn-log-btn").disabled = true
                document.getElementById("dwn-dataset-btn").disabled = true
                document.getElementById("dwn-gllim-btn").disabled = true
                let formData = new FormData();

                let simulation_hash = [this.config, this.entry_data_config, this.simulation_name];
                simulation_hash = objectHash.sha1(simulation_hash);
                //console.log(simulation_hash);
                this.simulation_id = simulation_hash;
                formData.append('simulation_config', JSON.stringify(this.config));
                formData.append('simulation_id', simulation_hash);
                formData.append('simulation_title', this.simulation_name);
                formData.append('data_id', this.entry_data_config.data_id);
                formData.append('data_source', this.entry_data_config.data_source);
                formData.append('physical_model', objectHash.sha1(this.config.physical_model));
                formData.append('data_generation', objectHash.sha1(this.config.data_generation));
                formData.append('gllim', objectHash.sha1(this.config.gllim));
                formData.append('prediction', objectHash.sha1([this.config.prediction, this.entry_data_config]));
                formData.append('importance_sampling', objectHash.sha1(this.config.importance_sampling));
                formData.append('geometries_content', this.geometries_content);
                formData.append('geometries_filename', this.config.physical_model.config.geometries);


                this.$http.post('/api/simulation/', formData, {
                    responseType: 'blob',
                    headers: {
                        'ContentType': 'False',
                        'X-CSRFToken': $cookies.get('csrftoken')
                    }
                }).then((response) => {
                    this.current_step = 0;
                    this.current_task_id = response.data.task_id;
                    document.getElementById("stop-btn").disabled = false;
                    this.getStatus();
                }).catch((err) => {
                    console.log(err)
                })
            } else {
                alert('No configuration is saved')
            }
        })
    },
    methods: {
        startSimulation() {
            this.$root.$emit('destryGraphs');
            this.$root.$emit('uploadFiles');
        },
        saveConfiguration() {
            let self = this
            this.config_count = 0;
            document.getElementById("log-text").innerHTML = "";
            for (let i = 0; i < this.status.length; i++) {
                self.status[i].passed = false;
                self.status[i].stopped = false;
            }
            this.$root.$emit('getConfig');
        },
        downloadConfigurationFile() {
            if (this.config.physical_model !== null) {
                let configuration = JSON.stringify(this.config, null, 4);
                let id = objectHash.sha1(configuration);
                const url = window.URL.createObjectURL(new Blob([configuration]));
                const link = document.createElement('a');
                link.href = url;
                link.setAttribute('download', id + '.json');
                document.body.appendChild(link);
                link.click()
            } else {
                alert('No configuration is saved')
            }
        },
        uploadConfigurationFile() {
            this.config_file = this.$refs.file.files[0];
            let fr = new FileReader();
            fr.onload = receivedText;
            fr.readAsText(this.config_file);
            let vm = this;

            function receivedText(e) {
                let config_content = JSON.parse(e.target.result);
                let physical_model = config_content['physical_model'];
                let data_generation = config_content['data_generation'];
                let gllim = config_content['gllim'];
                let prediction = config_content['prediction'];
                let importance_sampling = config_content['importance_sampling'];

                vm.$root.$emit('upload_physical_model', physical_model);
                vm.$root.$emit('upload_data_generation', data_generation);
                vm.$root.$emit('upload_gllim', gllim);
                vm.$root.$emit('upload_prediction', prediction);
                vm.$root.$emit('upload_importance_sampling', importance_sampling);
            }

            this.$nextTick(() => {
                alert("Configuration has been correctly uploaded. You should now upload :\n" +
                    "  - a geometrie file or python script file in Physical model section\n" +
                    "  - an observation file in observation section")
            })
            
        },
        stopSimulation() {
            // this.closeDialog();
            for (let i = this.current_step; i < this.status.length; i++) {
                this.status[i].stopped = true;
            }
            this.current_step = this.status.length;
            document.getElementById("stop-btn").disabled = true;
            this.$http.post('/stop-task/', { 'task_id': this.current_task_id }, {
                responseType: 'blob',
                headers: {
                    'ContentType': 'False',
                    'X-CSRFToken': $cookies.get('csrftoken')
                }
            }).then((response) => {
                this.current_task_id = ''
                if (response.data.stopped === true) {
                    alert('Simulation stopped')
                }
            }).catch((err) => {
                console.log(err)
            })
        },
        getStatus() {
            let that = this
            this.$http.post('/get-status/', { 'task_id': this.current_task_id }, {
                responseType: 'blob',
                headers: {
                    'ContentType': 'False',
                    'X-CSRFToken': $cookies.get('csrftoken')
                }
            }).then((response) => {
                //console.log(response.data.step);
                if (response.data.step < this.status.length) {
                    for (let i = 0; i < response.data.step; i++) {
                        that.status[i].passed = true;
                    }
                    if (response.data.step > 0 && document.getElementById("dwn-dataset-btn").disabled === true) {
                        this.getDataset();
                        document.getElementById("dwn-dataset-btn").disabled = false;
                    }
                    if (response.data.step > 2 && document.getElementById("dwn-gllim-btn").disabled === true) {
                        this.getGLLiM();
                        document.getElementById("dwn-gllim-btn").disabled = false;
                    }
                    this.current_step = response.data.step;
                    setTimeout(function () {
                        that.getLog();
                        that.getStatus();
                    }, 5000)
                } else if (response.data.step === this.status.length) {
                    for (let i = 0; i < response.data.step; i++) {
                        that.status[i].passed = true;
                    }
                    that.current_step = 0;
                    document.getElementById("stop-btn").disabled = true
                    this.getResults();
                    this.getLog();
                    document.getElementById("dwn-log-btn").disabled = false;
                    if (document.getElementById("dwn-dataset-btn").disabled === true) {
                        this.getDataset();
                        document.getElementById("dwn-dataset-btn").disabled = false;
                    }
                    if (document.getElementById("dwn-gllim-btn").disabled === true) {
                        this.getGLLiM();
                        document.getElementById("dwn-gllim-btn").disabled = false;
                    }

                    this.getPostResults();
                } else if (response.data.step === 8) {
                    for (let i = this.current_step; i < this.status.length; i++) {
                        this.status[i].stopped = true;
                    }
                    that.current_step = 0;
                    document.getElementById("stop-btn").disabled = true
                    alert("The number of geometries does not match the observation files selected.")
                    this.getLog();
                    document.getElementById("dwn-log-btn").disabled = false;

                } else if (response.data.step === 7) {
                    document.getElementById("start-btn").disabled = true;
                    document.getElementById("stop-btn").disabled = true;
                    document.getElementById("dwn-log-btn").disabled = false;

                } else if (response.data.step === 9) {
                    console.log("TaskModel does not exist yet. Waiting for the worker to create one...")
                    setTimeout(function () {
                        that.getLog();
                        that.getStatus();
                    }, 5000)
                }
            }).catch((err) => {
                console.log(err)
            })
        },
        getResults() {
            this.$http.post('/get-results/', { 'task_id': this.current_task_id }, {
                responseType: 'blob',
                headers: {
                    'ContentType': 'False',
                    'X-CSRFToken': $cookies.get('csrftoken')
                }
            }).then((response) => {
                document.getElementById("dwn-result-btn").disabled = false;
                this.current_results.url = window.URL.createObjectURL(new Blob([response.data], { type: "application/zip" }));
                this.current_results.filename = (response.headers['map']['content-disposition'])[0].split('filename=')[1];
            }).catch((err) => {
                console.log(err)
            })
        },
        getPostResults() {
            this.$http.post('/get-post-results/', { 'simulation_id': this.simulation_id }, {
                responseType: 'blob',
                headers: {
                    'ContentType': 'False',
                    'X-CSRFToken': $cookies.get('csrftoken')
                }
            }).then((response) => {
                this.$root.$emit("display-graphs", JSON.parse(response.data['results']))
            }).catch((err) => {
                console.log(err)
            })
        },
        getLog() {
            this.$http.post('/get-log/', { 'task_id': this.current_task_id }, {
                responseType: 'blob',
                headers: {
                    'ContentType': 'False',
                    'X-CSRFToken': $cookies.get('csrftoken')
                }
            }).then((response) => {
                this.current_log.url = window.URL.createObjectURL(new Blob([response.data], { type: "text/plain" }));
                this.current_log.filename = (response.headers['map']['content-disposition'])[0].split('filename=')[1];
                document.getElementById("log-text").innerHTML = response.data;
                document.getElementById("log-text-container").scrollTop = document.getElementById("log-text-container").scrollHeight
            }).catch((err) => {
                console.log(err)
            })
        },
        getDataset() {
            this.$http.post('/get-dataset/', { 'task_id': this.current_task_id }, {
                responseType: 'blob',
                headers: {
                    'ContentType': 'False',
                    'X-CSRFToken': $cookies.get('csrftoken')
                }
            }).then((response) => {
                console.log(response.data)
                this.current_dataset.url = window.URL.createObjectURL(new Blob([response.data], { type: "application/zip" }));
                console.log(this.current_dataset.url)
                this.current_dataset.filename = (response.headers['map']['content-disposition'])[0].split('filename=')[1];
                console.log(this.current_dataset.filename)
            }).catch((err) => {
                console.log(err)
            })
        },
        getGLLiM() {
            this.$http.post('/get-gllim/', { 'task_id': this.current_task_id }, {
                responseType: 'blob',
                headers: {
                    'ContentType': 'False',
                    'X-CSRFToken': $cookies.get('csrftoken')
                }
            }).then((response) => {
                console.log(response.data)
                this.current_gllim.url = window.URL.createObjectURL(new Blob([response.data], { type: "application/zip" }));
                console.log(this.current_gllim.url)
                this.current_gllim.filename = (response.headers['map']['content-disposition'])[0].split('filename=')[1];
                console.log(this.current_gllim.filename)
            }).catch((err) => {
                console.log(err)
            })
        },
        downloadDataset() {
            const link = document.createElement('a');
            link.href = this.current_dataset.url;
            link.setAttribute('download', this.current_dataset.filename);
            document.body.appendChild(link);
            link.click();
        },
        downloadGLLiM() {
            const link = document.createElement('a');
            link.href = this.current_gllim.url;
            link.setAttribute('download', this.current_gllim.filename);
            document.body.appendChild(link);
            link.click();
        },
        downloadResults() {
            const link = document.createElement('a');
            link.href = this.current_results.url;
            link.setAttribute('download', this.current_results.filename);
            document.body.appendChild(link);
            link.click()
        },
        downloadLog() {
            const link = document.createElement('a');
            link.href = this.current_log.url;
            link.setAttribute('download', this.current_log.filename);
            document.body.appendChild(link);
            link.click();
        },
        // openDialog() {
        //     document.getElementById("stop-simulation-dialog").classList.add('is-active')
        // },
        // closeDialog() {
        //     document.getElementById("stop-simulation-dialog").classList.remove('is-active')
        // }

    }
}
</script>

<style scoped></style>