<template>

</template>


<script>
    export default {
        name: "StopSimulationDialog",
        data() {
            return {
                dialog: false,
            }
        },
    }
</script>

<style scoped>

</style>