<template>
    <div class="d-flex flex-column sticky-footer-wrapper min-vh-100">
        <navbar></navbar>
        <KeepAlive>
            <router-view></router-view>
        </KeepAlive>
        <Footer></Footer>
    </div>
</template>

<script>
import Navbar from "./components/Navbar.vue";
import Footer from "./components/Footer.vue";

export default {
    name: "App",
    components: {
        Navbar,
        Footer
    }
}
</script>