<template>
    <div class="row text-center py-5 px-5">

        <h1 class="display-1">Planet-GLLiM</h1>

        <h5 class="text-info-emphasis">
            An open-source software for the physical analysis of multi-dimensional data in planetary remote sensing.
        </h5>

        <div class="text-center py-5">
            <img src="/static/assets/planetgllim.jpg" class="rounded" style="width: 20%;">
        </div>

        <div class="row justify-content-center py-2">
            <div class="col-3">
                <router-link to='/simulation'>
                    <button type="button" class="btn btn-primary btn-lg btn-block">
                        <i class="fas fa-desktop"></i> Run local<br> simulation
                    </button>
                </router-link>
            </div>
            <div class="col-3">
                <router-link class="nav-link" to='/massdata'>
                    <a role="button" class="btn btn-info btn-lg btn-block">
                        <i class="fas fa-server"></i> Run remote <br>simulation
                    </a>
                </router-link>
            </div>
        </div>
        <div class="row justify-content-center py-2 ">
            <div class="col-3">
                <a type="button" class="btn btn-warning btn-lg btn-block" target="_blank"
                    href="https://gitlab.inria.fr/kernelo-mistis/planet-gllim-front-end">
                    <i class="fab fa-gitlab"></i> Gitlab repository
                </a>
            </div>
            <div class="col-3">
                <a type="button" class="btn btn-secondary btn-lg btn-block" target="_blank"
                    href="https://kernelo-mistis.gitlabpages.inria.fr/planet-gllim-front-end/">
                    <i class="fas fa-regular fa-book"></i> Documentation
                </a>
            </div>
        </div>

    </div>
</template>

<script>

export default {
    name: "Home",
}
</script>

<style scoped></style>