<template>
    <div>


        <div class="card bg-secondary">
            <div class="card-body">
                <h2 class="card-title text-primary-emphasis text-center pt-5 pb-5">Massive Data Analysis</h2>

            </div>
        </div>

        <div class="row">
            <div class="col">

                <div class="card bg-secondary border-dark my-3 mx-3">
                    <div class="card-header bg-dark text-white">Instruction</div>
                    <div class="card-body">
                        <h4 class="card-title">How to run a job ?</h4>
                        <p class="card-text">

                        <h5>Step 1 : Prerequisites</h5>
                        <p>Go to <a href="https://allgo18.inria.fr/" target="_blank">Allgo website</a>, create an account
                            and validate it by email.</p>
                        <p>Select <a href="https://allgo18.inria.fr/apps/planet-gllim" target="_blank">Planet-GLLiM</a>
                            application.</p>

                        <h5>Step 2 : Configure the job</h5>
                        <p>Upload your input files</p>
                        <p>You must precise <strong>Parameters</strong> like this:
                            <i>
                                --config "YourConfigFile.json"
                                --geometries "SomeGeometriesFile.json"
                                --model "NewPhotometricModel.py"
                                --observations "MarsReflectances.zip"
                            </i>
                        </p>
                        <p>Note that either the <i>--geometries</i> option or the <i>--model</i> option is needed for the
                            simulation.</p>
                        <p>Select version <strong>latest</strong>.</p>
                        <p>Select Queue time <strong>standard</strong> or <strong>batch</strong> according to your data
                            volume.</p>
                        <img src="/static/assets/allgo_inputs.png" class="rounded mx-auto d-block"
                            style="max-width: 100%;" />
                        <br>

                        <h5>Step 3 : Download results</h5>
                        <p>Once the job is submited you can leave and get the results later. <i>Note that the data is
                                available one month on the platform.</i></p>
                        <img src="/static/assets/allgo_result.png" class="rounded mx-auto d-block"
                            style="max-width: 90%;" />
                        </p>
                    </div>
                </div>



            </div>
            <div class="col">

                <div class="card bg-secondary border-dark my-3 mx-3">
                    <div class="card-header bg-dark text-white">Description</div>
                    <div class="card-body">
                        <h4 class="card-title">What is Allgo ?</h4>
                        <p class="card-text">
                            <a href="https://allgo18.inria.fr/" target="_blank">Allgo</a> is a web platform developed by
                            Inria Rennes and
                            Irisa for building and deploying apps that analyze massive data.
                        </p>
                    </div>
                </div>


                <div class="card bg-secondary border-warning my-3 mx-3">
                    <div class="card-header bg-warning">Warning</div>
                    <div class="card-body">
                        <h4 class="card-title">Technological limitation you must be aware of</h4>
                        <p class="card-text">
                        <ul style="list-style:square;">
                            <li>Jobs are limited to 4GB of RAM.</li>
                            <li>The platform has 1 TB of free hard disk space.</li>
                            <li>Jobs data is deleted after one month.</li>
                            <li>Allgo is deployed on 2 physical machines with 4 cores each - but 5 cores at most can be used
                                for long jobs (&lt;1 day)</li>
                        </ul>
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</template>

<script>

export default {
    name: "MassDataAnalysis",
}
</script>

<style scoped></style>