<template>
    <div class="container"><h1>Page Not Found :/</h1></div>
</template>

<script>

export default {
    name: "NotFound",
}
</script>

<style scoped>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>