<template>
    <div class="accordion" id="accordion">

        <div class="accordion-item bg-secondary border-bottom">
            <div class="accordion-body">
                <h2 class="card-title text-primary-emphasis text-center pt-5 pb-5">Configuration of the simulation</h2>
                <simulation-description></simulation-description>
            </div>
        </div>

        <div class="accordion-item bg-secondary border-primary">
            <div class="accordion-header" id="headingPhysicalModel">
                <button class="accordion-button bg-info text-body-emphasis" type="button" data-toggle="collapse"
                    data-target="#collapsePhysicalModel" aria-expanded="true" aria-controls="collapsePhysicalModel">
                    <h5>Physical Model</h5>
                </button>
            </div>
            <div id="collapsePhysicalModel" class="collapse show" aria-labelledby="headingPhysicalModel">
                <div class="accordion-body">
                    <physical-model-configuration></physical-model-configuration>
                </div>
            </div>
        </div>

        <div class="accordion-item bg-secondary border-primary">
            <div class="card-header" id="headingDataGeneration">
                <button class="accordion-button bg-info text-body-emphasis" type="button" data-toggle="collapse"
                    data-target="#collapseDataGeneration" aria-expanded="true" aria-controls="collapseDataGeneration">
                    <h5>Data Generation Module</h5>
                </button>
            </div>
            <div id="collapseDataGeneration" class="collapse show" aria-labelledby="headingDataGeneration">
                <div class="accordion-body">
                    <data-gerneration-configuration></data-gerneration-configuration>
                </div>
            </div>
        </div>

        <div class="accordion-item bg-secondary border-primary">
            <div class="accordion-header " id="headingGllim">
                <button class="accordion-button bg-info text-body-emphasis" type="button" data-toggle="collapse"
                    data-target="#collapseGllim" aria-expanded="true" aria-controls="collapseGllim">
                    <h5>GLLiM Model</h5>
                </button>
            </div>
            <div id="collapseGllim" class="collapse show" aria-labelledby="headingGllim">
                <div class="accordion-body">
                    <gllim-configuration></gllim-configuration>
                </div>
            </div>
        </div>

        <div class="accordion-item bg-secondary border-primary">
            <div class="accordion-header " id="headingPrediction">
                <button class="accordion-button bg-info text-body-emphasis" type="button" data-toggle="collapse"
                    data-target="#collapsePrediction" aria-expanded="true" aria-controls="collapsePrediction">
                    <h5>Prediction Module</h5>
                </button>
            </div>
            <div id="collapsePrediction" class="collapse show" aria-labelledby="headingPrediction">
                <div class="accordion-body">
                    <prediction-configuration></prediction-configuration>
                </div>
            </div>
        </div>

        <div class="accordion-item bg-secondary border-primary">
            <div class="accordion-header " id="headingImportanceSampling">
                <button class="accordion-button bg-info text-body-emphasis" type="button" data-toggle="collapse"
                    data-target="#collapseImportanceSampling" aria-expanded="true"
                    aria-controls="collapseImportanceSampling">
                    <h5>Importance Sampling Module</h5>
                </button>
            </div>
            <div id="collapseImportanceSampling" class="collapse show" aria-labelledby="headingImportanceSampling">
                <div class="accordion-body">
                    <importance-sampling-configuration></importance-sampling-configuration>
                </div>
            </div>
        </div>

        <div class="accordion-item bg-secondary border-primary mb-4">
            <div class="accordion-header " id="headingObservations">
                <button class="accordion-button bg-info text-body-emphasis" type="button" data-toggle="collapse"
                    data-target="#collapseObservations" aria-expanded="true" aria-controls="collapseObservations">
                    <h5>Observations</h5>
                </button>
            </div>
            <div id="collapseObservations" class="collapse show" aria-labelledby="headingObservations">
                <div class="accordion-body">
                    <entry-data></entry-data>
                </div>
            </div>
        </div>

        <!-- <div class="accordion-item bg-secondary border-primary py-4 mb-3">
            <configuration-actions></configuration-actions>
        </div> -->

        <simulation-actions></simulation-actions>

        <graphs class="mb-3"></graphs>

    </div>
</template>

<script>
import PhysicalModelConfiguration from "../components/PhysicalModelConfiguration.vue";
import DataGernerationConfiguration from "../components/DataGernerationConfiguration.vue";
import GllimConfiguration from "../components/GllimConfiguration.vue";
import PredictionConfiguration from "../components/PredictionConfiguration.vue";
import ImportanceSamplingConfiguration from "../components/ImportanceSamplingConfiguration.vue";
import SimulationActions from "../components/SimulationActions.vue";
import EntryData from "../components/EntryData.vue";
import SimulationDescription from "../components/SimulationDescription.vue";
import Graphs from "../components/Graphs.vue";

export default {
    name: "Simulation",
    components: {
        Graphs,
        SimulationDescription,
        EntryData,
        SimulationActions,
        ImportanceSamplingConfiguration,
        PredictionConfiguration,
        GllimConfiguration,
        DataGernerationConfiguration,
        PhysicalModelConfiguration
    },
    mounted() {
        $('#accordion .collapse').collapse('show');
    }
    // , mounted() {
    //     document.getElementById("home").onclick = function () {
    //         location.replace("/home")
    //     };
    //     document.getElementById("simulation").onclick = function () {
    //         location.replace("/simulation")
    //     }
    // }
}
</script>

<style scoped></style>